body * {
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: #0e6cb6;
}
header .navbar-toggler {
  outline: none;
  padding: 0;
  overflow: hidden;
  width: 40px;
}
header .navbar-toggler #nav-icon2 {
  width: 40px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header .navbar-toggler #nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header .navbar-toggler #nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
header .navbar-toggler #nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
header .navbar-toggler #nav-icon2 span:nth-child(1),
header .navbar-toggler #nav-icon2 span:nth-child(2) {
  top: 0px;
}
header .navbar-toggler #nav-icon2 span:nth-child(3),
header .navbar-toggler #nav-icon2 span:nth-child(4) {
  top: 10px;
}
header .navbar-toggler #nav-icon2 span:nth-child(5),
header .navbar-toggler #nav-icon2 span:nth-child(6) {
  top: 20px;
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(1),
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(2),
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(1) {
  left: 5px;
  top: 7px;
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(5) {
  left: 5px;
  top: 16px;
}
header .navbar-toggler:not(.collapsed) #nav-icon2 span:nth-child(6) {
  left: calc(50% - 5px);
  top: 16px;
}
header .navbar {
  padding: 20px 16px 14px;
}
header .navbar .navbar-brand img {
  max-width: 150px;
}
header ul.navbar-nav li a {
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  font-size: 18px;
  padding: 0px 35px !important;
}
header ul.navbar-nav li a.active,
header ul.navbar-nav li a:hover {
  color: #b0ddff;
}
@media screen and (max-width: 1023px) {
  header ul.navbar-nav li a.nav-link {
    padding: 10px 0px !important;
  }
}
header ul.navbar-nav li:last-child a {
  padding-right: 0px !important;
}
header ul.navbar-nav li.dropdown .dropdown-menu {
  padding: 0;
  top: 50px;
  background: #fff;
  border: 0;
  -webkit-box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
header ul.navbar-nav li.dropdown .dropdown-menu a {
  background-color: transparent;
  color: #828282;
  padding: 6px 12px !important;
  display: block;
}
header ul.navbar-nav li.dropdown .dropdown-menu a:hover {
  background-color: #f7f7f7;
}

.custom-check {
  position: relative;
  margin: 0;
  cursor: pointer;
}
.custom-check span {
  display: inline-block;
  height: 9px;
  width: 32px;
  border-radius: 150px;
  background-color: #dfdfdf;
  position: relative;
}
.custom-check span:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #555555;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: left ease 0.35s;
  transition: left ease 0.35s;
}
.custom-check input {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
.custom-check input:checked + span {
  background-color: #c8e6fe;
}
.custom-check input:checked + span:before {
  left: calc(100% - 16px);
  background-color: #0e6ab3;
}

.layer-popup {
  background-color: #ffffff;
  border: 1px solid #323031;
  max-width: 365px;
  position: absolute;
  bottom: calc(100% + 15px);
  left: 15px;
  padding: 15px 23px;
  width: 100%;
  display: block;
}
.layer-popup:before {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #323031;
  position: absolute;
  top: 100%;
  left: 15px;
}
.layer-popup:after {
  content: "";
  border-left: 18px solid transparent;
  border-right: 19px solid transparent;
  border-top: 14px solid #ffffff;
  position: absolute;
  top: 100%;
  left: 17px;
}
.layer-popup .block-title {
  color: #6e6e6e;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
}
.layer-popup .check-label {
  display: block;
  margin-bottom: 5px;
  color: #999999;
}
@media screen and (max-width: 1024px) {
  .layer-popup {
    max-width: 330px;
    padding: 10px 12px;
  }
  .layer-popup .block-title {
    font-size: 13px;
  }
  .layer-popup .check-label {
    font-size: 13px;
    margin-bottom: 3px;
  }
}

.controls-sidebar {
  background-color: #ffffff;
  padding: 25px;
  width: 330px;
  position: fixed;
  left: -100%;
  bottom: 0;
  top: 85px;
  z-index: 2;
  -webkit-transition: all ease 0.35s;
  transition: all ease 0.35s;
  border-right: 1px solid #efeff1;
}
.controls-sidebar .filter-form {
  display: none;
}
.controls-sidebar .filter-form.recent-filter {
  display: block;
}
.controls-sidebar .sidebar-close {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
  outline: none;
  font-size: 24px;
  cursor: pointer;
}
.controls-sidebar .cascader-list li.list-group-item {
  padding: 4px 8px;
  width: 160px;
  border-radius: 0;
}
.controls-sidebar .cascader-list li.list-group-item i:after {
  content: "";
  color: #000000;
  display: inline-block;
  background-image: url(../public/images/icons/arow.png);
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.controls-sidebar .cascader-list li.list-group-item.active {
  background-color: #ffffff;
  color: #495057;
}
.controls-sidebar .cascader-list li.list-group-item.active .sub-list {
  display: block !important;
}
.controls-sidebar h3 {
  color: #ee1939;
  font-size: 21px;
  font-weight: 700;
}
.controls-sidebar .group-labels {
  font-weight: 600;
  font-size: 15px;
  line-height: normal;
  color: #828282;
}
.controls-sidebar .spacer-margin {
  margin-bottom: 8px;
}
.controls-sidebar .form-group {
  margin-bottom: 0;
}
.controls-sidebar .form-control {
  border-radius: 150px;
  margin-bottom: 10px;
  height: 50px !important;
  color: #b5b5b5;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
}
.controls-sidebar .form-control.zd-input__inner {
  margin-bottom: 0;
}
.controls-sidebar .zd-input__icon {
  width: 36px;
}
.controls-sidebar .zd-input__icon path {
  fill: #b5b5b5;
}
.controls-sidebar .zd-cascader-wrap {
  margin-bottom: 15px;
}
.controls-sidebar select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../public/images/icons/arow.png");
  background-repeat: no-repeat;
  background-position: 94% 50%;
  background-size: 16px;
  padding-right: 33px;
  margin-bottom: 20px;
}
.controls-sidebar .radio-group {
  margin-bottom: 8px;
}
.controls-sidebar .radio-group .form-control {
  margin-bottom: 0;
  border-radius: 150px;
}
.controls-sidebar .radio-group .form-control:not(:disabled) {
  color: #3f3f3f;
}
.controls-sidebar .radio-group .form-control:disabled {
  background-color: transparent;
}
.controls-sidebar .radio-group .radio-group-prepend {
  border-radius: 150px;
  border: 1px solid #ced4da;
  padding: 0px 10px;
  margin-right: 5px;
  overflow: hidden;
}
.controls-sidebar .radio-group .radio-group-prepend .form-control {
  border-radius: 0;
  border: 0;
}
.controls-sidebar .radio-group:last-child {
  margin-bottom: 0;
}
.controls-sidebar .btn {
  border-radius: 150px;
  padding: 13px 12px;
}
.controls-sidebar form.forecast-filter .form-control {
  margin-bottom: 20px;
}
.controls-sidebar form .radio-group {
  margin-bottom: 20px;
}
.controls-sidebar form .radio-group .form-control {
  margin-bottom: 0;
}

.map-footer {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  background-color: #ffffff;
  -webkit-transition: all ease 0.35s;
  transition: all ease 0.35s;
}
.map-footer .map-pointers ul li {
  margin-right: 20px;
}
.map-footer .map-pointers ul li a {
  background-color: #0e6cb6;
  display: block;
  width: 55px;
  height: 55px;
}
.map-footer .map-pointers ul li a img {
  max-width: 100%;
  display: inline-block;
  padding: 12px;
}
.map-footer .map-pointers ul li:last-child {
  margin-right: 0;
}
.map-footer .blue-bg-extend:after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: #004a8b;
  position: absolute;
  right: 0;
  top: 0;
}
.map-footer .map-actions {
  background-color: #004a8b;
}
.map-footer .map-actions .btn-label {
  display: block;
  margin-bottom: 0;
}
.map-footer .map-actions ul li {
  width: 100%;
}
.map-footer .map-actions ul li a {
  color: #ffffff;
  display: block;
  text-align: center;
  text-transform: capitalize;
  padding: 20px 15px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.map-footer .map-actions ul li a.active,
.map-footer .map-actions ul li a:hover {
  background-color: #0e6cb6;
}
.map-footer .map-actions ul li a img {
  max-width: 40px;
}
@media (min-width: 1024px) and (max-width: 1740px) {
  .map-footer .map-pointers ul li {
    margin-right: 10px;
  }
  .map-footer .map-pointers ul li a {
    width: 45px;
    height: 45px;
  }
  .map-footer .map-actions ul li a img {
    max-width: 25px;
  }
  .map-footer .map-actions ul li a .btn-label {
    font-size: 13px;
  }
}
@media screen and (max-width: 1023px) {
  .map-footer {
    padding-top: 10px;
  }
  .map-footer .blue-bg-extend:before {
    content: "";
    width: 15px;
    height: 100%;
    background-color: #004a8b;
    position: absolute;
    left: 0;
    top: 0;
  }
  .map-footer .map-pointers ul li {
    margin-right: 10px;
  }
  .map-footer .map-pointers ul li a {
    width: 40px;
    height: 40px;
  }
  .map-footer .map-actions ul li a {
    padding: 8px 12px;
  }
  .map-footer .map-actions ul li a img {
    max-width: 20px;
  }
  .map-footer .map-actions ul li a .btn-label {
    font-size: 10px;
  }
}

.date-display-block {
  position: relative;
  min-height: 85px;
}
.date-display-block::before {
  content: "";
  border-top: 2px dotted #004a8b;
  height: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.date-display-block .date-block {
  position: relative;
  background-color: #ffffff;
  padding-left: 20px;
}
.date-display-block .date-block:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0e6cb6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  margin: auto;
}
.date-display-block .date-block .date-label {
  display: block;
  margin: 0;
  color: #a4a4a4;
}
.date-display-block .date-block .date {
  color: #6a6a6a;
  font-weight: 700;
}
.date-display-block .date-block:first-child {
  padding-left: 0;
  padding-right: 20px;
}
.date-display-block .date-block:first-child:before {
  left: auto;
  right: 0px;
}
@media screen and (max-width: 1023px) {
  .date-display-block {
    min-height: 60px;
  }
  .date-display-block .date-block .date-label {
    font-size: 14px;
  }
  .date-display-block .date-block .date {
    font-size: 15px;
  }
}

.surface-popup {
  max-width: 770px;
  width: 100%;
  position: fixed;
  left: 15px;
  bottom: 120px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  display: none;
  z-index: 3;
}
.surface-popup .surface-popup-header {
  background-color: #004a8b;
  color: #ffffff;
  padding: 10px 15px;
}
.surface-popup .surface-popup-body {
  padding: 10px 6px;
  border: 1px solid #312f30;
  border-top: 0;
  background-color: #ffffff;
}
.surface-popup .surface-popup-body li {
  border-left: 2px solid #ee1939;
  padding: 0 12px;
}
.surface-popup .surface-popup-body li:nth-child(1) {
  border-color: #6ef0ff;
}
.surface-popup .surface-popup-body li:nth-child(2) {
  border-color: #23cf1b;
}
.surface-popup .surface-popup-body li:nth-child(3) {
  border-color: #f0f213;
}
.surface-popup .surface-popup-body li:nth-child(4) {
  border-color: #eca702;
}
.surface-popup .surface-popup-body li .group-title {
  display: block;
  font-weight: normal;
  margin-bottom: 2px;
  line-height: normal;
}
.surface-popup .surface-popup-body li .group-status {
  margin-bottom: 0;
  display: block;
  line-height: normal;
  font-weight: 700;
  color: #8b8b8b;
}
@media screen and (max-width: 767px) {
  .surface-popup {
    max-width: calc(100% - 30px);
  }
  .surface-popup .surface-popup-header {
    padding: 5px 8px;
    font-size: 14px;
  }
  .surface-popup .surface-popup-body ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .surface-popup .surface-popup-body li {
    margin-bottom: 5px;
  }
  .surface-popup .surface-popup-body li .group-title {
    font-size: 13px;
  }
  .surface-popup .surface-popup-body li .group-status {
    font-size: 13px;
  }
}

.chartsmodal.modal-right.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.chartsmodal.modal-right .modal-content {
  height: calc(100vh - 0px);
}

.chartsmodal.modal-right .modal-dialog {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  margin: 0px 0 0 auto;
}

.chartsmodal .modal-dialog {
  height: 100vh;
  margin: 0;
  margin-left: auto;
  max-width: 100%;
  width: 60%;
  margin: 0px 0 0 auto;
}
.chartsmodal .modal-dialog .modal-content {
  border-radius: 0;
  border: 0;
  height: 100%;
}
.chartsmodal .modal-dialog .modal-content .modal-header h5 {
  color: #1661a4;
  font-weight: 600;
}
.chartsmodal .modal-dialog .modal-content .modal-header .close {
  outline: none;
  font-weight: normal;
  font-size: 20px;
}
.chartsmodal .modal-dialog .modal-content .modal-body {
  overflow-y: auto;
  padding: 45px;
}
.chartsmodal .modal-dialog .modal-content .modal-body .modalChart {
  height: 280px;
}
@media screen and (max-width: 767px) {
  .chartsmodal .modal-dialog {
    width: calc(100% - 15px);
  }
  .chartsmodal .modal-dialog .modal-content .modal-header {
    padding: 8px 15px;
    border-bottom-color: #dcdcdc;
  }
  .chartsmodal .modal-dialog .modal-content .modal-header h5 {
    font-size: 18px;
  }
  .chartsmodal .modal-dialog .modal-content .modal-body {
    padding: 15px;
  }
}

#map,
#mapone,
#maptwo,
#mapthree {
  height: calc(100vh - 85px);
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .bl-1 {
    border-left: 1px solid #dfdfdf;
  }
}

.map-wrapper {
  position: relative;
}
.map-wrapper .control-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.map-wrapper .control-btn button {
  display: block;
  padding: 0;
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.map-wrapper .control-btn button.btn-search {
  background-color: #0e6cb4;
}
.map-wrapper .control-btn button img {
  max-width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}
.map-wrapper .leaflet-top.leaflet-right {
  top: 80px;
  right: 5px;
}
.map-wrapper .leaflet-top.leaflet-right .leaflet-bar {
  border: 0;
}
.map-wrapper .leaflet-top.leaflet-right .leaflet-bar > a {
  width: 35px;
  height: 35px;
  color: #838383;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
}

@media screen and (min-width: 768px) {
  body.sidebar-active .map-footer {
    width: calc(100% - 330px);
  }
  body.sidebar-active .controls-sidebar {
    left: 0;
  }
  body.sidebar-active .surface-popup {
    left: 335px;
  }
}
@media screen and (max-width: 767px) {
  body.sidebar-active .controls-sidebar {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  body .controls-sidebar {
    top: 0;
  }
} /*# sourceMappingURL=style.css.map */
